{% extends 'admin/layouts/base.html.twig' %}

{% block title %}Gérer les horaires{% endblock %}

{% block body %}
    <h1 class="m-4">Gérer les horaires</h1>
    <a href="{{ path('admin_hour_new') }}" class="btn btn-primary m-4">Creer nouveaux horaire</a>
    <table class="table m-4">
        <thead>
            <tr>
                <th>#</th>
                <th>Jour</th>
                <th>Ouverture</th>
                <th>Fermature</th>
                <th>Fermé?</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hour in hours %}
            <tr>
                <td>{{ hour.id }}</td>
                <td>{{ hour.Day }}</td>
                <td>{{ hour.startDate ? hour.startDate|date('H:i') : '' }}</td>
                <td>{{ hour.endDate ? hour.endDate|date('H:i') : '' }}</td>
                <td>{{ hour.closed ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('admin_hour_show', {'id': hour.id}) }}" class="btn btn-primary">Voir</a>
                    <a href="{{ path('admin_hour_edit', {'id': hour.id}) }}" class="btn btn-secondary">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Acuune horaire trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
