<!DOCTYPE html>

<title>Hour</title>

{% block body %}
    <h1>Hour</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hour.id }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ hour.startDate ? hour.startDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndDate</th>
                <td>{{ hour.endDate ? hour.endDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Closed</th>
                <td>{{ hour.closed ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_hour_index') }}">back to list</a>

    <a href="{{ path('admin_hour_edit', {'id': hour.id}) }}">edit</a>

    {{ include('admin/hour/_delete_form.html.twig') }}
{% endblock %}
