<header>
    <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
        <div class="container">
            <a class="navbar-brand title" href="{{ path('home') }}">
                <img src="{{ asset('img/nom.png') }}" alt="icon" class="icon-nom" loading="lazy">
                <span class="project-name">Garage Vincent Parrot</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav d-flex align-items-center justify-content-around w-100 me-auto mb-2 mb-lg-0">
                    <li class="nav-item {{ app.request.attributes.get('_route') == 'home' ? 'active' : ''}}">
                        <a class="nav-link" href="{{ path('home') }}">
                            <img src="{{ asset('img/icon2.png') }}" alt="icon2" class="icon-2" loading="lazy">
                            <span class="elements-menu">Accueil</span>
                        </a>
                    </li>
                    <li class="nav-item {{ app.request.attributes.get('_route') == 'cars' ? 'active' : ''}}">
                        <a class="nav-link" href="{{ path('cars') }}">
                            <img src="{{ asset('img/icon-1.png') }}" alt="icon-1" class="icon-1" loading="lazy">
                            <span class="elements-menu">Véhicules</span>
                        </a>
                    </li>
                    <li class="nav-item {{ app.request.attributes.get('_route') == 'contact' ? 'active' : ''}}">
                        <a class="nav-link" href="{{ path('contact') }}">
                            <img src="{{ asset('img/icon-3.png') }}" alt="icon-3" class="icon-3" loading="lazy">
                            <span class="elements-menu">Contact</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
