{% extends 'admin/layouts/base.html.twig' %}


{% block body %}
	<div class="container">
		<div class="row">
			<div class="card col-3 mb-3 me-3 p-0 text-center">
				<div class="card-header">
					<h3 class="card-title">Nombre de véhicules</h3>
				</div>
				<div class="card-body">
					<h1>{{ cars|length }}</h1>
				</div>
			</div>

			<div class="card col-3 mb-3 me-3 p-0 text-center">
				<div class="card-header">
					<h3 class="card-title">Nombre d'utilisateurs</h3>
				</div>
				<div class="card-body">
					<h1>{{ users|length }}</h1>
				</div>
			</div>

			<div class="card col-3 mb-3 me-3 p-0 text-center">
				<div class="card-header">
					<h3 class="card-title">Nombre de services</h3>
				</div>
				<div class="card-body">
					<h1>{{ services|length }}</h1>
				</div>
			</div>

			<div class="card col-3 mb-3 me-3 p-0 text-center">
				<div class="card-header">
					<h3 class="card-title">Nombre d'avis</h3>
				</div>
				<div class="card-body">
					<h1>{{ reviews|length }}</h1>
				</div>
			</div>

			<div class="card col-3 mb-3 me-3 p-0 text-center">
				<div class="card-header">
					<h3 class="card-title">Nombre de demande de contact</h3>
				</div>
				<div class="card-body">
					<h1>{{ contacts|length }}</h1>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
