<section class="container my-5">
	<h2 class="text-center mb-4 title-avis">Avis des clients</h2>

	<div class="row">
		{% for review in reviews %}
			<div class="col-lg-4 mb-4">
				<div class="card h-100">
					<div class="card-body comentaire">
						<h5 class="card-title">{{ review.lastname }}</h5>
						<p class="card-text">{{ review.message }}</p>
						<div class="stars">
							<span class="star selected">&#9733;</span>
							<span class="star selected">&#9733;</span>
							<span class="star selected">&#9733;</span>
							<span class="star selected">&#9733;</span>
							<span class="star selected">&#9733;</span>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</section>

<section class="container my-5">
	<h3 class="text-center mb-4">Votre avis nous intéresse</h3>
	<div class="row">
		<div class="col-lg-8 mx-auto">
			{{ form_start(review_form, {'attr':{'id':'avisForm'}}) }}
			<div class="mb-3">
				{{ form_row(review_form.lastname) }}
			</div>

			<div class="mb-3">
				{{ form_row(review_form.message) }}
			</div>
			<div class="mb-3">
				<label for="rating" class="form-label">Évaluez-nous</label>
				<div id="stars">
					<span class="form_star star" data-value="1">&#9733;</span>
					<span class="form_star star" data-value="2">&#9733;</span>
					<span class="form_star star" data-value="3">&#9733;</span>
					<span class="form_star star" data-value="4">&#9733;</span>
					<span class="form_star star" data-value="5">&#9733;</span>
				</div>
				{{ form_errors(review_form.rating) }}
				{{ form_widget(review_form.rating, {'attr':{'id':'rating'}}) }}
			</div>
			<div class="d-flex justify-content-end">
				<button type="submit" class="btn btn-primary">Poster l'avis</button>
			</div>
			{{ form_end(review_form) }}
		</div>
	</div>
</section>
