{% extends 'admin/layouts/base.html.twig' %}

{% block title %}Demande de contact{% endblock %}

{% block body %}
    <h1 class="m-4">Toutes les demandes de contact</h1>

    <table class="table m-4">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Prénnom</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.lastname }}</td>
                <td>{{ contact.firstname }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.phone }}</td>
                <td>
                    <a href="{{ path('admin_contact_show', {'id': contact.id}) }}" class="btn btn-primary btn-sm">Voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucune demande trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
